
@{
    ViewBag.Title = "CreateMessage";
}

<h2>Contact an admin</h2>

<p>Add your message in the area below</p>

<textarea rows="5" cols="50" id="msgbody"></textarea>
<button class="btn btn-info" id="submit">Submit</button>


@section scripts {
    <script>
        $(document).ready(function () {
            $("#submit").click(function () {
                console.log($('#msgbody').val());
                if ($('#msgbody').val() === '') {
                    alert('your message is empty');
                }
                else {


                    var posting = $.post("/api/Message", { "MessageBody": $('#msgbody').val() });
                    posting.done(function (data) {
                        alert('all good');
                        window.location.replace('/Home/Index');
                    });
                }
            });
        });
    </script>    
}
