@{
    ViewBag.Title = "Home Page";
}

<h1>
	Case Tracker
</h1>
@Html.ActionLink("cases","Index","Cases")<br />
@Html.ActionLink("types","Index","DocumentTypes")<br />
@Html.ActionLink("parties","Index","Parties")<br />
@Html.ActionLink("results","Index","DeedResults")